body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.section-a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}



.centered {
    text-align: center;
}
label {
    min-width: 130px;
}

input, select {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
}

/*button {*/
/*    padding: 9px;*/
/*    background-color: #4c8caf;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

button:hover {
    background-color: #4c8caf;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    /*max-width: 100px; !* 设置单元格的最大宽度 *!*/
    /*overflow: hidden; !* 隐藏超出部分 *!*/
    /*text-overflow: ellipsis; !* 使用省略号表示文本溢出 *!*/
    /*white-space: nowrap; !* 防止文本换行 *!*/
}
